<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if request.path == '/' %}
                        <a class="nav-link active" href="/">Bar</a>
                    {% else %}
                        <a class="nav-link" href="/">Bar</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/linechart/' %}active{% endif %}" href="/linechart">Line</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/piechart/' %}active{% endif %}" href="/piechart">Pie</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/doughnutchart/' %}active{% endif %}" href="/doughnutchart">doughnut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/polarareachart/' %}active{% endif %}" href="/polarareachart">doughnut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>